@page "/lead"
@using TradgardsproffsenApp.Models
@using TradgardsproffsenApp.Data.Services
@inject LeadService Service
@inject NavigationManager NaviManager

<h3>Leads</h3>

@if (leads == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Telefon Nummer</th>
                <th>Address</th>
                <th>PostNr</th>
                <th>Url</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in leads)
            {
                <tr @onclick="(()=>onClickLead(l))">
                    <td>@l.Name</td>
                    <td>@l.PhoneNumber</td>
                    <td>@l.Address</td>
                    <td>@l.PostNr</td>
                    <td>@l.URL</td>
                    <td>@l.Info</td>
                </tr>
            }
        </tbody>
    </table>

}

@code {

    private LeadDto[] leads;

    protected override async Task OnInitializedAsync()
    {
        leads = await Service.GetLeads();
    }

    public void onClickLead(LeadDto l)
    {
        NaviManager.NavigateTo($"/ValideraLeads/{l.Id}", forceLoad: true);
        l = null;
    }
}
