@page "/sentoutleads"
@using TradgardsproffsenApp.Models
@using TradgardsproffsenApp.Data.Services
@inject SentOutLeadService Service
@inject NavigationManager NaviManager

<h3>Skickade leads</h3>

@if (leads == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Email</th>
                <th>Telefon Nummer</th>
                <th>Address</th>
                <th>Post nummer</th>
                <th>Län</th>
                <th>Url</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in leads)
            {
                <tr>
                    <td>@l.Name</td>
                    <td>@l.Email</td>
                    <td>@l.PhoneNumber</td>
                    <td>@l.Address</td>
                    <td>@l.PostCode</td>
                    <td>@l.District</td>
                    <td>@l.URL</td>
                    <td>@l.Info</td>
                </tr>
            }
        </tbody>
    </table>

}

@code {

    private SentOutLeadDto[] leads;

    protected override async Task OnInitializedAsync()
    {
        leads = await Service.GetAllSentOutLeads();
    }
}
