@page "/Validatedleads"
@using TradgardsproffsenApp.Models
@using TradgardsproffsenApp.Data.Services
@inject ValidatedLeadService Service
@inject NavigationManager NaviManager

<h3>Validerade Leads</h3>

@if (leads == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Telefon Nummer</th>
                <th>Email</th>
                <th>Address</th>
                <th>Ort</th>
                <th>PostNr</th>
                <th>Url</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in leads)
            {
                <tr @onclick="(()=>onClickLead(l))">
                    <td>@l.Name</td>
                    <td>@l.PhoneNumber</td>
                    <td>@l.Email</td>
                    <td>@l.Address</td>
                    <td>@l.District</td>
                    <td>@l.PostCode</td>
                    <td>@l.URL</td>
                    <td>@l.Info</td>
                </tr>
            }
        </tbody>
    </table>

}

@code {

    private ValidatedLeadDto[] leads;

    protected override async Task OnInitializedAsync()
    {
        leads = await Service.GetAllValidatedLeads();
    }

    public void onClickLead(ValidatedLeadDto l)
    {
        //NaviManager.NavigateTo($"/ValidatedLead/{l.Id}", forceLoad: true);
        //l = null;
    }
}
